@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    /* Moje kolory */
    /* Main color */
    --color-main: #00C896;
    --color-main-2: #41896e;

    /* Chessboard - light */
    --bg-chessboard-1: #f3f3f3;
    --bg-chessboard-2: #ededed;

    /* Glassmorphism - light */
    --bg-glass: rgba(0, 0, 0, 0.02);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);

        /* Chessboard - dark */
        --bg-chessboard-1: #232323;
        --bg-chessboard-2: #1d1d1d;

        /* Glassmorphism - dark */
        --bg-glass: rgba(255, 255, 255, 0.05);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* -------------------------------------------------------- */
/* Moje style
/* -------------------------------------------------------- */

/* Glassmorphism */

.glass {
    background-color: var(--bg-glass);
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 10;
}

.glass-2 {
    background-color: var(--bg-glass);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 7px solid var(--color-main);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 15;
}

/* Tło - szachownica */
.bg-chessboard {
    animation: anim-chessboard 5s linear infinite;
    background-size: 2rem 2rem;
    background-color: var(--bg-chessboard-1);
    background-image:
        linear-gradient(
            -45deg,
            transparent 75%,
            var(--bg-chessboard-2) 75%
        ),
        linear-gradient(
            45deg,
            transparent 75%,
            var(--bg-chessboard-2) 75%
        ),
        linear-gradient(
            -135deg,
            transparent 75%,
            var(--bg-chessboard-2) 75%
        ),
        linear-gradient(
            135deg,
            transparent 75%,
            var(--bg-chessboard-2) 75%
        );
}

@keyframes anim-chessboard {
    100% {
        background-position: -2rem -2rem;
    }
}
